[submodule "aeson-extra"]
	path = aeson-extra
	url = git@github.com:phadej/aeson-extra.git
[submodule "binary-orphans"]
	path = binary-orphans
	url = git@github.com:haskellari/binary-orphans.git
[submodule "binary-tagged"]
	path = binary-tagged
	url = git@github.com:phadej/binary-tagged.git
[submodule "boring"]
	path = boring
	url = git@github.com:phadej/boring.git
[submodule "vec"]
	path = vec
	url = git@github.com:phadej/vec.git
[submodule "bound-extras"]
	path = bound-extras
	url = git@github.com:phadej/bound-extras.git
[submodule "crypt-sha512"]
	path = crypt-sha512
	url = git@github.com:phadej/crypt-sha512.git
[submodule "dlist-nonempty"]
	path = dlist-nonempty
	url = git@github.com:phadej/dlist-nonempty.git
[submodule "edit-distance"]
	path = edit-distance
	url = git@github.com:haskellari/edit-distance.git
[submodule "file-embed-lzma"]
	path = file-embed-lzma
	url = git@github.com:phadej/file-embed-lzma.git
[submodule "functor-classes-compat"]
	path = functor-classes-compat
	url = git@github.com:haskellari/functor-classes-compat.git
[submodule "generics-sop-lens"]
	path = generics-sop-lens
	url = git@github.com:phadej/generics-sop-lens.git
[submodule "JuicyPixels-scale-dct"]
	path = JuicyPixels-scale-dct
	url = git@github.com:phadej/JuicyPixels-scale-dct.git
[submodule "kleene"]
	path = kleene
	url = git@github.com:phadej/kleene.git
[submodule "lattices"]
	path = lattices
	url = git@github.com:haskellari/lattices.git
[submodule "microstache"]
	path = microstache
	url = git@github.com:haskellari/microstache.git
[submodule "OneTuple"]
	path = OneTuple
	url = git@github.com:haskellari/OneTuple.git
[submodule "qc-instances"]
	path = qc-instances
	url = git@github.com:haskellari/qc-instances.git
[submodule "range-set-list"]
	path = range-set-list
	url = git@github.com:phadej/range-set-list.git
[submodule "regex-applicative-text"]
	path = regex-applicative-text
	url = git@github.com:phadej/regex-applicative-text.git
[submodule "singleton-bool"]
	path = singleton-bool
	url = git@github.com:phadej/singleton-bool.git
[submodule "splitmix"]
	path = splitmix
	url = git@github.com:haskellari/splitmix.git
[submodule "step-function"]
	path = step-function
	url = git@github.com:jonpetterbergman/step-function.git
[submodule "time-parsers"]
	path = time-parsers
	url = git@github.com:phadej/time-parsers.git
[submodule "tree-diff"]
	path = tree-diff
	url = git@github.com:haskellari/tree-diff.git
[submodule "base64-bytestring-type"]
	path = base64-bytestring-type
	url = git@github.com:phadej/base64-bytestring-type.git
[submodule "tdigest"]
	path = tdigest
	url = git@github.com:phadej/tdigest.git
[submodule "insert-ordered-containers"]
	path = insert-ordered-containers
	url = git@github.com:phadej/insert-ordered-containers.git
[submodule "topograph"]
	path = topograph
	url = git@github.com:phadej/topograph.git
[submodule "assoc"]
	path = assoc
	url = git@github.com:haskellari/assoc.git
[submodule "postgresql-libpq"]
	path = postgresql-libpq
	url = git@github.com:haskellari/postgresql-libpq.git
[submodule "postgresql-simple"]
	path = postgresql-simple
	url = git@github.com:haskellari/postgresql-simple.git
[submodule "postgresql-simple-url"]
	path = postgresql-simple-url
	url = git@github.com:phadej/postgresql-simple-url.git
[submodule "spdx"]
	path = spdx
	url = git@github.com:phadej/spdx.git
[submodule "these"]
	path = these
	url = git@github.com:isomorphism/these.git
[submodule "binary-instances"]
	path = binary-instances
	url = git@github.com:haskellari/binary-instances.git
[submodule "time-compat"]
	path = time-compat
	url = git@github.com:haskellari/time-compat.git
[submodule "some"]
	path = some
	url = git@github.com:haskellari/some.git
[submodule "type-equality"]
	path = type-equality
	url = git@github.com:hesselink/type-equality.git
[submodule "confusing"]
	path = confusing
	url = git@github.com:phadej/confusing.git
[submodule "months"]
	path = months
	url = git@github.com:phadej/months.git
[submodule "lukko"]
	path = lukko
	url = git@github.com:haskellari/lukko.git
[submodule "zinza"]
	path = zinza
	url = git@github.com:phadej/zinza.git
[submodule "rere"]
	path = rere
	url = git@github.com:phadej/rere.git
[submodule "aeson-optics"]
	path = aeson-optics
	url = git@github.com:phadej/aeson-optics.git
[submodule "hkd"]
	path = hkd
	url = git@github.com:phadej/hkd.git
[submodule "indexed-traversable"]
	path = indexed-traversable
	url = https://github.com/haskellari/indexed-traversable
[submodule "generic-lens-lite"]
	path = generic-lens-lite
	url = git@github.com:phadej/generic-lens-lite.git
[submodule "cryptohash-md5"]
	path = cryptohash-md5
	url = git@github.com:haskell-hvr/cryptohash-md5.git
[submodule "cryptohash-sha1"]
	path = cryptohash-sha1
	url = git@github.com:haskell-hvr/cryptohash-sha1.git
[submodule "cryptohash-sha256"]
	path = cryptohash-sha256
	url = git@github.com:haskell-hvr/cryptohash-sha256.git
[submodule "cryptohash-sha512"]
	path = cryptohash-sha512
	url = git@github.com:haskell-hvr/cryptohash-sha512.git
[submodule "lzma"]
	path = lzma
	url = git@github.com:haskell-hvr/lzma.git
[submodule "text-short"]
	path = text-short
	url = git@github.com:haskell-hvr/text-short.git
[submodule "dec"]
	path = dec
	url = git@github.com:phadej/dec.git
[submodule "skew-list"]
	path = skew-list
	url = git@github.com:phadej/skew-list.git
[submodule "th-letrec"]
	path = th-letrec
	url = git@github.com:phadej/th-letrec.git
